* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f2eb;
}
nav {
  height: 10vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    color: black;
    position: relative;
  }
  button {
    font-size: inherit;
    border: none;
    background-color: transparent;
  }
  button:hover {
    background-color: transparent;
    color: black;
  }
}
nav a::after,
nav button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.25s ease-out;
}
nav a:hover::after,
nav button:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}
nav a:hover {
  transform: scale(1.05);
}
.active::after {
  transform: scaleX(1);
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 5px 0px rgb(118, 121, 149);

  input,
  button {
    width: 70%;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
  }
  button {
    width: 40%;
    margin-top: 1rem;
  }
  * {
    margin: 0.3rem auto;
    background-color: white;
  }
}
button:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: #aba8a4;
  color: white;
  cursor: pointer;
}
.wrapper {
  text-align: center;
}
